body {
  background: white;
  margin: 20px;

}

#barra {
  width: 100%;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: center;

}

.logo {
  width: 30px;
  height: 30px;
}

#barra ul {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

#barra li {

  float: left;
  display: flex;
  color: black;
  font: bolder;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10px;

}


#barra li:hover {
  background-color: whitesmoke;
}

.home {
  display: flex;
  background-color: black;

}

.busquedad {
  width: 1000px;
  background-color: whitesmoke;
}

.contenedor {
  max-width: 1600px;
  margin: 0 auto;
  column-count: 7;

}

.contenedor .elemento {

  width: 100%;
  background: #fff;
  margin: 0 0 20px;
  padding: 10px;
  overflow: hidden;
  break-inside: avoid;
}

.contenedor .elemento img {
  max-width: 100%;

}


@media  (min-width: 320px) {
  .contenedor {
    columns: 1;
    width: 100%;
  }

  .busquedad {
    width: 50px;
    background-color: whitesmoke;
  }
}

@media  (min-width: 600px) {
  .contenedor {
    columns: 3;
    width: 100%;
  }

  
  .busquedad {
    width: 400px;
    background-color: whitesmoke;
  }

}

@media  (min-width: 1024px) {
  .contenedor {
    columns: 6;
    width: 100%;
  }

  
  .busquedad {
    width: 700px;
    background-color: whitesmoke;
  }
}